<nav>
    <a id="main-page-link" href="{{ path('menu_page') }}">
        <img src="{{ asset('icons/besocialicon.svg') }}" alt="">
        <span>Social</span>
    </a>
    <img id="hamburger-menu" src="{{ asset('icons/hamburgermenu.svg') }}" alt="">
    <div id="pop-up-menu" style="display: none">
        <table>
            <img id="x" src="{{ asset('icons/x.svg') }}" alt="">
            {% for menuItem in menuItems %}
                <tr>
                    <td class="menu-item">
                        <a href="{{ path('show_menu_item', {'id':menuItem.id}) }}">
                            {{ menuItem.title }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</nav>